body {
background-color: pink;
}

.flex-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

h2 {

    text-align: center;
    padding: 100px;
}